<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Editar producto'}) %>

    <link rel="stylesheet" href="/css/editProduct.css" />
  </head>
  <body>
    <%- include('../partials/header') %> 

    <main>
      <div class="div-newProduct">
        <form class="form-newProduct" action="/products/<%= product.id %>?_method=put" method="post" enctype="multipart/form-data">
          <h2><%= product.shortName %></h2>

          <div class="side">

            <div class="inputGroup name">
              <input type="text" name="name" id="name" class="inputGroupInput" value="<%= product.name %>" required>
              <label for="name" class="inputGroupLabel">Nombre del producto</label>
            </div>

            <div class="inputGroup">
              <input type="text" name="shortName" id="shortName" class="inputGroupInput" value="<%= product.shortName %>" required>
              <label for="shortName" class="inputGroupLabel">Producto abreviado</label>
            </div>

          </div>

          <div class="inputGroup brand">
            <input type="text" name="brand_id" id="brand_id" class="inputGroupInput" value="<%= product.brand_id %>" required>
            <label for="brand_id" class="inputGroupLabel">Marca</label>
          </div>


          <div class="side">

            <div class="inputGroup inputNumber">
              <input type="text" name="retailPrice" id="retailPrice" class="inputGroupInput" value="<%= product.retailPrice %>" required>
              <label for="retailPrice" class="inputGroupLabel">Precio minorista</label>
            </div>

            <div class="inputGroup inputNumber">
              <input type="number" name="discount" id="discount" class="inputGroupInput" value="<%= product.discount %>" required>
              <label for="discount" class="inputGroupLabel">% OFF</label>
            </div>

          </div>

          <div class="side">

            <div class="inputGroup inputNumber">
              <input type="text" name="wholesalePrice" id="wholesalePrice" class="inputGroupInput" value="<%= product.wholesalePrice %>" required>
              <label for="wholesalePrice" class="inputGroupLabel">Precio mayorista</label>
            </div>

            <div class="inputGroup inputNumber">
              <input type="number" name="stock" id="stock" class="inputGroupInput" value="<%= product.stock %>" required>
              <label for="stock" class="inputGroupLabel">Stock</label>
            </div>

          </div>

          <div class="inputGroup">
            <label for="category_id" id="categoryLabel" class="p-newProduct">Categoria:</label>
              <select name="category_id" id="category_id" class="inputGroupInput">
                <option value="">Elegi una categoría</option>
                <option value="1" <%= product.category_id === "limpiadorDePiso" ? "selected" : ""%> >Limpiador de piso</option>
                <option value="2" <%= product.category_id === "limpiadorDeMuebles" ? "selected" : ""%> >Limpiador de muebles</option>
                <option value="3" <%= product.category_id === "limpiadorDeRopa" ? "selected" : ""%> >Limpiador de ropa</option>
                <option value="4" <%= product.category_id === "papelHigienico" ? "selected" : ""%> >Papel higiénico</option>
                <option value="5" <%= product.category_id === "detergente" ? "selected" : ""%>>Detergente</option>
                <option value="6" <%= product.category_id === "lavandina" ? "selected" : ""%> >Lavandina</option>
              </select> 
          </div>
          
          <div class="inputGroup">
            <label for="image" class="p-newProduct">Seleccionar Imagen de Producto</label>
            <input class="inputGroupInput" type="file" name="image" id="image" accept="image/png, .jpeg, .jpg, image/gif"/>
          </div>

          <div class="inputGroup">
            <label for="description" class="p-newProduct">Descripción</label>
            <textarea id="description" name="description" rows="10" cols="44"><%= product.description %></textarea>
          </div>

          <button type="submit" class="createProductButton">
            Editar producto
          </button>
        </form>
      </div>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
