<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Detalle de producto'}) %>

    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="stylesheet" href="/css/productCard.css" />
  </head>
  <body>
    <% if (!locals.userLogged || locals.userLogged.category == 'consumidorFinal' || locals.userLogged.category == 'admin') {%> 
      <%- include('../partials/headerCf') %> 
    <% } else if (locals.userLogged.category == 'mayorista') { %> 
      <%- include('../partials/headerMayorista') %> 
    <% } %>

    <main>
      <div class="nav">
        <a href="/">Home</a>
        <span>/</span>
        <a href="/products">Productos</a>
        <span>/</span>
        <a href="#"><%= product.shortName %></a>
      </div>
      <section class="product">
        <div class="card">
          <div>
            <img src="/img/products/<%= product.image %>" alt="producto" />
          </div>
          <% if (locals.isLogged && locals.userLogged.category == "admin") { %>
          <div class="buttons">
            <a href="/products/edit/<%= product.id %>"
              ><button class="edit">Editar producto</button></a
            >
            <form
              action="/products/<%= product.id %>?_method=delete"
              method="post"
            >
              <button type="submit" class="delete">Eliminar producto</button>
            </form>
          </div>
          <% } %>
        </div>
        <div class="data">
          <div class="details">
            <h2 class="name"><%= product.name %></h2>
            <div class="prices">
              <% if (product.discount > 0) { %>
              <h5>
                <span class="notPrice"><%= product.retailPrice %></span> / <%=
                product.discount %>% OFF
              </h5>
              <h2><%= product.priceWithDiscount %></h2>
              <% } else { %>
              <h2><%= product.retailPrice %></h2>
              <% } %>
            </div>
            <form action="">
              <div class="amount">
                <% if (product.stock == 0) { %>
                <p>No hay stock</p>
                <% } else { %>
                <p>stock disponible</p>
                <h4>Cantidad:</h4>
                <select name="cantidad" id="cantidad">
                  <% for (let i = 1; i <= product.stock; i++) { %>
                  <option value="<%= [i] %>"><%= [i] %></option>
                  <% } %>
                </select>
                <% } %>
              </div>
              <a href="#"
                ><button type="submit" class="cart">
                  Agregar al carrito
                  <i class="fa-solid fa-cart-shopping"></i></button
              ></a>
            </form>
          </div>
          <div class="desc">
            <h3>Descripcion</h3>
            <p><%= product.description %></p>
          </div>
        </div>
      </section>
      <section class="relatedProducts">
        <h3 class="name">Productos relacionados</h3>
        <div class="otherProducts">
          <i class="fa-solid fa-circle-arrow-left"></i>
          <% relatedProducts.forEach(product => { %> <%-
          include("../partials/productCard", {product}) %> <% }); %>
          <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
      </section>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
