<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Listado de productos'}) %>

    <link rel="stylesheet" href="\css\productList.css" />
    <link rel="stylesheet" href="/css/productCard.css" />
  </head>
  <body>
    <% if (locals.userLogged.category == 'consumidorFinal' ||
    locals.userLogged.category == 'admin') { %> <%-
    include('../partials/headerCf') %> <% } else if (locals.userLogged.category
    == 'mayorista' || locals.userLogged.category == 'admin') { %> <%-
    include('../partials/headerMayorista') %> <% } %>

    <main>
      <div class="nav">
        <a href="/">Home</a>
        <span>/</span>
        <a href="/products">Productos</a>
      </div>
      <section class="product"></section>
      <section class="relatedProducts">
        <h3 class="nameList">Lista de productos</h3>
        <% if (locals.isLogged && locals.userLogged.category == "admin") { %>
        <div class="button">
          <a href="/products/create"
            ><button class="create">Crear producto</button></a
          >
        </div>
        <% } %>
        <div class="allProducts">
          <% products.forEach(product => { %><%-
          include("../partials/productCard", {product}) %> <% }); %>
        </div>
      </section>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
