<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>

    <link rel="stylesheet" href="/css/productDetail.css" />

    <title>Detalle de producto</title>
  </head>
  <body>
    <%- include('../partials/header') %>

    <main>
      <div class="nav">
        <a href="/">Home</a>
        <span>/</span>
        <a href="#">Productos</a>
        <span>/</span>
        <a href="#"><%= product.shortName %></a>
      </div>
      <section class="product">
        <div class="card">
          <img src="<%= product.image %>" alt="producto" />
        </div>
        <div class="data">
          <div class="details">
            <h2 class="name"><%= product.name %></h2>
            <h3>$ <%= product.price %></h3>
            <form action="">
              <div class="amount">
                <p>stock disponible</p>
                <h4>Cantidad:</h4>
                <select name="cantidad" id="cantidad">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
              <a href="#"
                ><button type="submit" class="cart">
                  Agregar al carrito
                  <i class="fa-solid fa-cart-shopping"></i></button
              ></a>
            </form>
          </div>
          <div class="desc">
            <h3>Descripcion</h3>
            <p><%= product.description %></p>
          </div>
        </div>
      </section>
      <section class="relatedProducts">
        <h3 class="name">Productos relacionados</h3>
        <div class="otherProducts">
          <i class="fa-solid fa-circle-arrow-left"></i>
          <% products.forEach(product => { %>
          <div class="card" id="card<%= product.id %>">
            <h4 class="cardTitle"><%= product.shortName %></h4>
            <div class="cardBody">
              <img src="<%= product.image %>" alt="imagen" />
            </div>
            <div class="cardFooter">
              <a href="/products/productDetail/<%= product.id %>"
                ><button>Más información</button></a
              >
            </div>
          </div>
          <% }); %>
          <i class="fa-solid fa-circle-arrow-right"></i>
        </div>
      </section>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
