<!DOCTYPE html>
<html lang="es">
  <head>

    <%- include("../partials/head", {title: 'Carrito'}) %>

    <link rel="stylesheet" href="/css/productCart.css" />
    <script src="/js/cart/subtractUnit.js"></script>
    <script src="/js/cart/addUnit.js"></script>
    <script src="/js/cart/deleteItem.js"></script>
    <script src="/js/cart/eraseCart.js"></script>
    <script src="/js/cart/purchaseCart.js"></script>

  </head>
  <body>
    <% if (userLogged.mayorista != null) { %>
     <%- include ("../partials/headerMayorista") %>
    <% } else { %>
    <%- include('../partials/header') %> 
    <% } %>

    <main>
      <div class="alertText">
          <p>Todos los precios son finales, incluyen IVA</p>
      </div>
      <h1 class="title">Carrito de compras</h1>
      <div class="cartContainer">
        <table class="itemsTable">
            <thead>
                <tr>
                <th class="productName">Producto</th>
                <th class="productPrice">Precio</th>
                <th class="productQuantity">Cantidad</th>
                <th class="productTotal">Total</th>
                </tr>
            </thead>
            <% if (activeCart && cartProduct && products) { %>
             
             <% products.forEach(product => { %>
              
              <tbody class="cartItem" >
                <tr class="itemInfo" data-product="<%- encodeURIComponent(JSON.stringify(product)) %>">
                  <td class="product">
                    <% if (userLogged.mayorista != null) { %>
                      <span class="productImage"><a href="mayorista/products/detail/<%= product.id %>"><img src="/img/products/<%= product.image %>"></a></span>
                        <h4 class="productTitle"><a href="mayorista/products/detail/<%= product.id %>"><%= product.shortName %></a></h4> 
                    <% } else if (userLogged.cf !=null) { %>
                      <span class="productImage"><a href="consumidorfinal/products/detail/<%= product.id %>"><img src="/img/products/<%= product.image %>"></a></span>
                        <h4 class="productTitle"><a href="consumidorfinal/products/detail/<%= product.id %>"><%= product.shortName %></a></h4> 
                      <% } %>
                  </td>
                    <td class="price">
                        <h4 class="mb5">Precio:</h4>
                        <div id="price"><%= product.priceWithDiscount %></div>
                      </td>
                      <td class="quantity">
                        <h4 class="mb5">Cantidad:</h4>
                        <div class="stockContainer">
                            <button class="stockButton" id="subtract"><i class="fa-solid fa-minus"></i></button>
                            <input type="number" id="quantity" value=
                                  <% cartProduct.forEach(cartData => { %>
                                        <% if (cartData.product_id == product.id) { %>
                                            <%= cartData.quantity %>
                                        <% } %>
                                  <% }) %> 
                            min="1">
                            <button class="stockButton" id="add"><i class="fa-solid fa-plus"></button>
                        </div>
                      </td>
                    <td class="subtotal">
                      <h4 class="mb5">Total:</h4>
                      <div class="totalPrice"><% cartProduct.forEach(cartData => { %>
                       <% if (cartData.product_id == product.id) { %>
                        <%= product.priceWithDiscount * cartData.quantity %>
                       <% } %>
                      <% }) %></div>
                    </td>
                    <td class="borra">
                      <button class="eraseArticleButton" type="submit">Eliminar artículo</button>
                    </td>
                  </tr>
            </tbody>
             <% }) %>
            
            
        </table>
        <div class="emptyCartButtonContainer">
          <button class="emptyCartButton" name="emptyCart" type="submit">Vaciar carrito de compras</button>
        </div>
        <div class="cartSummaryContainer">
          <section class="cartSummary">
            <h3 class="summaryTitle">Tu pedido</h3>
            <table class="summaryTable">
                <tbody>
                  <tr class="cartSubtotal">
                    <td class="txtAlignL">Subtotal</td>
                    <td class="txtAlignR" id="cartSubtotal"><%= activeCart.total_price %></td>
                  </tr>
                  <tr class="shipping">
                    <td colspan="2">
                      <h4>Envío</p>
                      <p>Ingresá tu dirección para ver las opciones de envío. <a href="#">Calcular envío</a></p>
                    </td>
                  </tr>
                  <tr class="cartTotal">
                    <td class="txtAlignL">Total</td>
                    <td class="txtAlignR" id="cartTotal"><%= activeCart.total_price %></td>
                  </tr>
                </tbody>
            </table>
            <div class="discountCouponContainer">
              <label for="couponCode">¿Tenes un cupón de descuento?</label>
              <input class="couponInput" type="text" name="couponCode" id="couponCode" placeholder="Ingresar Cupón">
              <button type="submit" class="couponButton" name="applyCoupon">APLICAR</button>
            </div>
            <div class="checkout">
              <button type="submit" name="checkout" class="checkoutButton">Finalizar compra</button>
            </div>
          </section>
        </div>
            <% } else { %>
              <h1>TU CARRITO DE COMPRAS ESTA VACIO</h1>
            <% } %>

    </div>
  </main>

  <%- include("../partials/footer") %>
  
  </body>
</html>
          
  
