<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Detalle de producto'}) %>

    <link rel="stylesheet" href="/css/card.css" />
    <link rel="stylesheet" href="/css/carousel.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <script src="/js/carousel.js" defer></script>
    
    <% if(locals.userLogged){ %> 
      <script id="addToCartScript" src="/js/addToCart.js"  data-product="<%- encodeURIComponent(JSON.stringify(product)) %>" ></script>
    <% } %>
  </head>
  <body>
    <% if (product.href == "consumidorfinal") { %>
      <%- include('../partials/header') %> 
    <% } else if (product.href == "mayorista") { %>
      <%- include('../partials/headerMayorista') %> 
    <% } %>

    <main>
      <div class="nav">
        <a href="/">Home</a>
        <span>/</span>
          <a href="<%= product.href === 'consumidorfinal' ? '/consumidorfinal/products' : '/mayorista/products' %>">Productos</a>
        <span>/</span>
        <a href="#"><%= product.shortName %></a>
      </div>
      <section class="product">
        <div class="cardDetail">
          <div>
            <img src="/img/products/<%= product.image %>" alt="producto" />
          </div>
          <% if (locals.isLogged && locals.userLogged.admin !== null) { %>
          <div class="buttons">
            <a href="/products/edit/<%= product.id %>"
              ><button class="edit">Editar producto</button></a
            >
            <form
              action="/products/<%= product.id %>?_method=delete"
              method="post"
            >
              <button type="submit" class="delete">Eliminar producto</button>
            </form>
          </div>
          <% } %>
        </div>
        <div class="data">
          <div class="details">
            <h2 class="name"><%= product.name %></h2>
            <div class="prices">
              <% if (product.discount > 0) { %>
              <h5>
                <span class="notPrice">$ <%= product.price %></span> / <span><%= product.discount %>% OFF</span>
              </h5>
              <h2>$ <%= product.priceWithDiscount %></h2> 
              <% } else { %>
              <h2>$ <%= product.price %></h2>
              <% } %>
            </div>
            <% if(locals.userLogged) { %>
            <form action="">
              <div class="amount">
                <% if (product.stock == 0) { %>
                <p>No hay stock</p>
                <% } else { %>
                <h4>Cantidad:</h4>
                <div class="stockContainer">
                    <button class="stockButton" id="subtract">-</button>
                    <input type="number" id="quantity" value="1" min="1">
                    <button class="stockButton" id="add">+</button>
                </div>
                <% } %>
              </div>
            </form>
            <button type="button" id="addToCart" class="cart">Agregar al carrito<i class="fa-solid fa-cart-shopping"></i></button>
            <% } %>
          </div>
          <div class="desc">
            <h3>Descripcion</h3>
            <p><%= product.description %></p>
          </div>
        </div>
      </section>
      <h3 class="titleRelatedProducts">Productos relacionados</h3>
      <section class="sectionCarousel">
        <!-- Carrusel -->
        <div class="carouselDivContainer">
          <% if (relatedProducts.length > 0) { %>            
          <i id="left" class="fa-solid fa-angle-left arrow"></i>
        <ul class="carousel">     
          <% relatedProducts.forEach(product => { %>
            <li class="card"><%-
            include("../partials/productCard", {product}) %>
            </li> <% }); %>
          </ul>
        <i id="right" class="fa-solid fa-angle-right arrow"></i> 
        <% } else { %>
          <div class="no-products-message">No hay productos relacionados.</div>
      <% } %> 
        </div>
        <!-- carrusel -->
      </section>
    </main>   

    <%- include("../partials/footer") %>
  </body>
</html>
