<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Tienda consumidor final'}) %>

    <link rel="stylesheet" href="/css/homeCf.css" />
    <link rel="stylesheet" href="/css/card.css" />
    <link rel="stylesheet" href="/css/carousel.css" />
    <script src="/js/homeCf.js" defer></script>  
    <script src="/js/carousel.js" defer></script>
  </head>
  <body>
    <%- include('../partials/header') %>

    <main>
      <%- include('../partials/mainBanner') %>

      <div class="titulosH3">
        <h3>Mega Oportunidades</h3>
      </div>

      <!-- Carrusel 1 -->
      <section class="sectionCarousel">
        <div class="carouselDivContainer">
          <% (function () { %> <% if (inSaleProducts.length > 0) { %>
          <i id="left" class="fa-solid fa-angle-left arrow"></i>
          <ul class="carousel">
            <% inSaleProducts.forEach(product => { %>
            <li class="card">
              <%- include("../partials/productCard", {product}) %>
            </li>
            <% }); %>
          </ul>
          <i id="right" class="fa-solid fa-angle-right arrow"></i>
          <% } else { %>
          <div class="no-products-message">
            Disculpe, no hay ofertas, vuelva intentar más tarde.
          </div>
          <% } %> <% })(); %>
        </div>
      </section>
      <!-- fin Carrusel 1 -->

      <section class="benefitsSection">
        <div>
          <img src="/img/beneficiosBanner.jpg" id="fotoLimpiar" />
        </div>
        <div class="benefitsContainer">
          <h2 class="benefitsTitle colorPrincipal">
            Beneficios al consumidor final
          </h2>
          <ol class="benefitsList">
            <li>
              <i class="fa-solid fa-check"></i>Presentaciones minoristas y
              mayoristas con precios imbatibles
            </li>
            <li>
              <i class="fa-solid fa-check"></i>Entregamos en 24/48 hrs a tu
              domicilio
            </li>
            <li>
              <i class="fa-solid fa-check"></i>Elegís el rango de entrega de tu
              conveniencia
            </li>
            <li>
              <i class="fa-solid fa-check"></i>Comprás y pagás online con todas
              las herramientas de Mercado Pago
            </li>
            <li>
              <i class="fa-solid fa-check"></i>+ de 1000 marcas y productos con
              stocks en linea
            </li>
          </ol>
        </div>
      </section>
      
      <div class="titulosH3">
        <h3>Los más vendidos</h3>
      </div>

      <!-- carrusel 2 -->
      <section class="sectionCarousel">
        <div class="carouselDivContainer">
          <% (function () { %> <% if (bestSellersProducts.length > 0) { %>
          <i id="left" class="fa-solid fa-angle-left arrow"></i>
          <ul class="carousel">
            <% bestSellersProducts.forEach(product => { %>
            <li class="card">
              <%- include("../partials/productCard", {product}) %>
            </li>
            <% }); %>
          </ul>
          <i id="right" class="fa-solid fa-angle-right arrow"></i>
          <% } else { %>
          <div class="no-products-message">
            Disculpe, no hay productos más vendidos.
          </div>
          <% } %> <% })(); %>
        </div>
      </section>
      <!-- fin carrusel 2 -->

      <div class="SiteAlert">
        <p class="alertContainer">
          <i class="fa-solid fa-triangle-exclamation"></i>Estás visualizando los
          precios para consumidor final. Si sos mayorista, hacé
          <a href="/mayorista">&nbsp;click Aquí</a>
        </p>
      </div>

      <section class="allyBrands">
        <div class="titulosH3">
          <h3>Nos acompañan</h3>
        </div>
        <div class="carouselContainerBrands">
          <img src="/img/logoAyudin.png" alt="logoMarca 1" />
          <img src="/img/logoClorox.png" alt="logoMarca 2" />
          <img src="/img/logoCif.jpg" alt="logoMarca 3" />
          <img src="/img/logoPoett.png" alt="logoMarca 4" />
        </div>
      </section>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
