<!DOCTYPE html>
<html lang="es">

<head>
  <%- include("../partials/head", {title: 'Tienda mayorista' }) %>

    <link rel="stylesheet" href="/css/homeMayorista.css" />
    <script src="/js/homeMayorista.js" defer></script>
</head>

<body>
  <%- include('../partials/headerMayorista') %>
    <main>
      <%- include('../partials/mainBanner') %>
        <div class="loginOutsideBox">
          <div class="loginBanner">
            <h2 class="loginBannerTitle">
              Bienvenido a la tienda para clientes mayoristas
            </h2>
            <div class="loginBannerLine"></div>
            <p class="loginBannerText">Por favor,<a href="/users/register"> iniciá sesión o registrate</a></p>
          </div>
        </div>

        <section class="opportunities">
          <!-- carrusel 1 -->
          <h3>Mega Oportunidades</h3>

          <div class="carouselContainerOpportunities"> <!-- wrapper -->
            <% if (inSaleProducts.length> 0) { %>
              <i id="left" class="fa-solid fa-angle-left arrow"></i>
              <ul class="carousel">
                <% inSaleProducts.forEach(product=> { %>
                  <li class="card"><%- include("../partials/productCard", {product}) %>
                  </li>
                  <% }); %>
              </ul>
              <i id="right" class="fa-solid fa-angle-right arrow"></i>
              <% } else { %>
                <div class="no-products-message">Disculpe, no hay ofertas, vuelva intentar más tarde.</div>
                <% } %>
          </div>
        </section>
        <!-- fin carrusel -->

        <section class="newMayoristaSection">
          
            <img src="/img/newMayoristaBanner.png" id="fotoLimpiar" />
          
          <div class="newMayoristaContainer">
            <div class="newMayoristaQuestion">
              <h2>¿Tenés un negocio mayorista?</h2>
              <p>Para comprar con nosotros debés darte de alta como cliente</p>
                <button class="newMayoristaButton" type="submit" name="registerMayorista">
                <a href="/users/register"><p><i class="fa-solid fa-angles-right hoverMayorista"></i>Registrate
                  acá como nuevo cliente mayorista</p></a>
              </button>
            </div>
            <section class="benefitsSection">
              <div>
                <i class="fa-solid fa-id-card"></i>
                <h2>Registrándote como mayorista podes</h2>
              </div>
              <div class="benefitsContainer">
                <ol class="benefitsList">
                  <li>
                    <i class="fa-solid fa-check"></i>Presentaciones minoristas y
                    mayoristas con precios imbatibles
                  </li>
                  <li>
                    <i class="fa-solid fa-check"></i>Entregamos en 24/48 hrs a tu
                    domicilio
                  </li>
                  <li>
                    <i class="fa-solid fa-check"></i>Elegís el rango de entrega de tu
                    conveniencia
                  </li>
                  <li>
                    <i class="fa-solid fa-check"></i>Comprás y pagás online con todas
                    las herramientas de Mercado Pago
                  </li>
                  <li>
                    <i class="fa-solid fa-check"></i>+ de 1000 marcas y productos con
                    stocks en linea
                  </li>
                </ol>
              </div>
            </section>
          </div>
        </section>

        <!-- carrusel 2 -->
        <section class="bestSellers">
          <h3>Los más vendidos</h3>
          <div class="carouselContainerBestSeller">
            <% (function () { %>
              <% if (bestSellersProducts.length> 0) { %>
                <i id="left" class="fa-solid fa-angle-left arrow"></i>
                <ul class="carousel">
                  <% bestSellersProducts.forEach(product=> { %>
                    <li class="card"><%- include("../partials/productCard", {product}) %></li>
                    <% }); %>
                </ul>
                <i id="right" class="fa-solid fa-angle-right arrow"></i>
                <% } else { %>
                  <div class="no-products-message">Disculpe, no hay productos más vendidos.</div>
                  <% } %>
                    <% })(); %>
          </div>
        </section>
        <!-- fin carrusel 2 -->
        <section class="allyBrands">
          <h3>Nos acompañan</h3>
          <div class="carouselContainerBrands">
            <img src="/img/logoAyudin.png" alt="logoMarca 1" />
            <img src="/img/logoClorox.png" alt="logoMarca 2" />
            <img src="/img/logoCif.jpg" alt="logoMarca 3" />
            <img src="/img/logoPoett.png" alt="logoMarca 4" />
          </div>
        </section>

    </main>

    <%- include("../partials/footer") %>
</body>

</html>