<div class="card" id="card<%= product.id %>">
  <a href="/products/detail/<%= product.id %>">
    <div class="cardBody">
      <img src="/img/products/<%= product.image %>" alt="imagen" />
    </div>
    <div>
      <h4 class="cardTitle"><%= product.shortName %></h4>
    </div>
    <div class="cardFooter">
      <!-- cambiar enlace a toda la card ? y mismo con el hover-->
      <button>
        $ <%= product.priceWithDiscount %> &nbsp; &nbsp; <%= product.discount %>
        <!-- habria que hacer un if de que si discount es cero no lo muestre -->
        %OFF
      </button>
    </div>
  </a>
</div>
