<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Inicio de sesión'}) %>

    <link rel="stylesheet" href="/css/login.css" />
    <script src="/js/login.js" defer></script>
  </head>
  <body>
    <%- include('../partials/header') %>

    <main>
      <div class="logo">
        <img class="img" src="/img/logo.png" alt="" />
      </div>
      <div class="div-newProduct">
        <form class="form-newProduct" action="/users/login" method="post" id="form">
          <div class="inputGroup">
            <input
              type="text"
              name="email"
              class="inputGroupInput"
              value=""
              id="email"
            />
            
            <label for="email" class="inputGroupLabel"
              >Correo electrónico</label
            >
            <p class="errorMsg" id="emailError"></p>
            <div class="error">
              <% if(locals.errors && errors.email) { %>
              <p><%= errors.email.msg %></p>
              <% } %>
            </div>
          </div>
          <div class="inputGroup">
            <input
              type="password"
              name="password"
              class="inputGroupInput"
              value=""
              id="password"
            />
            <label for="password" class="inputGroupLabel">Contraseña</label>
            <p class="errorMsg" id="passwordError"></p>
            <div class="error">
              <% if(locals.errors && errors.password) { %>
              <p><%= errors.password.msg %></p>
              <% } %>
            </div>
          </div>
          <div class="inputGroup">
            <div>
              <input type="checkbox" name="rememberUser" id="checkboxLogin" />
              <label class="check" for="rememberUser">Recordarme</label>
            </div>
            <div>
              <button type="submit" class="buttonLogin">Ingresar</button>
            </div>
          </div>
        </form>
      </div>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
