<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Registro usuario'}) %>
    <link rel="stylesheet" href="/css/register.css" />
    <script src="/js/register.js" defer></script>
  </head>
  <body>
    <%- include('../partials/header') %>
    
    <main>
      <div class="div-newRegister">
        <form action="/users/register" method="post" class="form-newRegister"  enctype="multipart/form-data" id="form">
          <h2>Información personal</h2>

          <div class="cat">
            <label class="p-newRegister">Categoria de usuario</label>
            <select name="category" id="category" class="inputGroupInput">
              <option value="" <%= locals.oldData && (oldData.category === "") ? "selected" : ""  %>>Elegi una categoría</option>
              <% if(locals.isLogged && locals.userLogged.superAdmin != null){ %>
                <option value="admin" <%= locals.oldData && (oldData.category === "admin") ? "selected" : ""  %>>admin</option>
              <% } %>
              <option value="cf" <%= locals.oldData && (oldData.category === "cf") ? "selected" : ""  %>>Consumidor final</option>
              <option value="mayorista" <%= locals.oldData && (oldData.category === "mayorista") ? "selected" : ""  %>>Mayorista</option>
            </select>
          
          <div class="errorMessage"> 
            <% if(locals.errors && errors.category) { %>
              <p><%= errors.category.msg %></p>
            <% } %>
          </div>
          </div>

          <div class="inputGroup" id="nameField">
            <input
              type="text"
              name="name"
              id="name"
              style="padding-left: 20px"
              class="inputGroupInput"
              value="<%= locals.oldData ? oldData.name : null %>"
              pattern="[\w\s]+"
            />
          
          <label for="nombre" class="inputGroupLabel">Nombre</label>
          
          <div>
            <p class="errorMessage" id="nameError"></p>
            <% if(locals.errors && errors.name) { %>
              <p><%= errors.name.msg %></p>
            <% } %>
          </div>
          </div>

          <div class="inputGroup" id="lastNameField">
            <input
              type="text"
              name="lastName"
              id="lastName"
              class="inputGroupInput"
              style="padding-left: 20px"
              value="<%= locals.oldData ? oldData.lastName : null %>"
              pattern="[\w\s]+"
            />
          
          <label for="lastName" class="inputGroupLabel">Apellido</label>
          
          <div>
            <p class="errorMessage" id="lastNameError"></p>
            <% if(locals.errors && errors.lastName) { %>
              <p><%= errors.lastName.msg %></p>
            <% } %>
          </div>
          </div>

          <div class="inputGroup" id="dniField">
            <input
              type="number"
              name="dni"
              id="dni"
              class="inputGroupInput"
              style="padding-left: 20px"
              value="<%= locals.oldData ? oldData.dni : null %>"
              onkeypress="return event.charCode >= 48 && event.charCode <= 57"
            />
          
          <label for="dni" class="inputGroupLabel">DNI</label>
          
          <div>
            <p class="errorMessage" id="dniError"></p>
            <% if(locals.errors && errors.dni) { %>
              <p><%= errors.dni.msg %></p>
            <% } %>
          </div>
          </div>

          <div class="inputGroup" id="businessNameField">
            <input
              type="text"
              name="businessName"
              id="businessName"
              class="inputGroupInput"
              style="padding-left: 20px"
              value="<%= locals.oldData ? oldData.businessName : null %>"
              pattern="[\w\s]+"
            />
          
          <label for="businessName" class="inputGroupLabel">Razón social</label>
          
          <div>
            <p class="errorMessage" id="businessNameError"></p>
            <% if(locals.errors && errors.businessName) { %>
              <p><%= errors.businessName.msg %></p>
            <% } %>
          </div>
          </div>
        
          <div class="inputGroup" id="cuitField">
            <input
              type="number"
              name="cuit"
              id="cuit"
              class="inputGroupInput"
              style="padding-left: 20px"
              value="<%= locals.oldData ? oldData.cuit : null %>"
              onkeypress="return event.charCode >= 48 && event.charCode <= 57"
            />
          
          <label for="cuit" class="inputGroupLabel">CUIT</label>
          
          <div>
            <p class="errorMessage" id="cuitError"></p>
            <% if(locals.errors && errors.cuit) { %>
              <p><%= errors.cuit.msg %></p>
            <% } %>
          </div>
          </div>

          <div class="inputGroup">
            <label class="p-newRegister">Foto de perfil</label>
            <input class="inputGroupInput" type="file" id="image" name="image" accept="image/png, .jpeg, .jpg"/>
            <div>
              <p class="errorMessage" id="imageError"></p>
              <% if(locals.errors && errors.image) { %>
                <p><%= errors.image.msg %></p>
              <% } %>
            </div>
          </div>

          <div class="inputGroup">
            <input
              type="number"
              name="tel"
              id="tel"
              class="inputGroupInput"
              style="padding-left: 20px"                
              value="<%= locals.oldData ? oldData.tel : null %>"
              onkeypress="return event.charCode >= 48 && event.charCode <= 57"
            />    
          
          <label for="tel" class="inputGroupLabel">Teléfono / Celular</label>
          
          <div>
            <p class="errorMessage" id="telError"></p>
            <% if(locals.errors && errors.tel) { %>
              <p><%= errors.tel.msg %></p>
            <% } %>
          </div>
          </div>

          <div class="inputGroup">
            <input
              type="text"
              name="email"
              id="email"
              class="inputGroupInput"
              style="padding-left: 20px"
              value="<%= locals.oldData ? oldData.email : null %>"
            />    
          
          <label for="email" class="inputGroupLabel">Email</label>
         
          <div>
            <p class="errorMessage" id="emailError"></p>
            <% if(locals.errors && errors.email) { %>
              <p><%= errors.email.msg %></p>
            <% } %>
          </div>
          </div>
       
          <div class="inputGroup">
            <input
              type="password"
              name="password"
              id="password"
              class="inputGroupInput"
              style="padding-left: 20px"
              value="<%= locals.oldData ? oldData.password : null %>"
            />      
          
          <label for="password" class="inputGroupLabel">Contraseña</label>
          
          <div>
            <p class="errorMessage" id="passwordError"></p>
            <% if(locals.errors && errors.password) { %>
              <p><%= errors.password.msg %></p>
            <% } %>
          </div>
          </div>
        
          <div class="inputGroup">
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              class="inputGroupInput"
              style="padding-left: 20px"
              value="<%= locals.oldData ? oldData.confirmPassword : null %>"
            />  
         
          <label for="confirmPassword" class="inputGroupLabel">Confirmar Contraseña</label>
         
          <div>
            <p class="errorMessage" id="confirmPasswordError"></p>
            <% if(locals.errors && errors.confirmPassword) { %>
              <p><%= errors.confirmPassword.msg %></p>
            <% } %>
          </div>
          </div>
    
        <div class="inputGroup">
          <div class="notify">
            <label for="notify">Mandar notificaciones</label>
            <input type="checkbox" name="notify" id="notify" value="notify" />
          </div>
        
          <div>
            <button class="createRegisterButton" id="button" type="submit">Crear cuenta</button>
          </div>
        </div>

        </form>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>