<html lang="en">
  <head>
    <%- include("../partials/head", {title: 'Registro usuario'}) %>
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/userprofile.css" />
    <script src="/js/register.js" defer></script>
  </head>
  <body>
    <% if (user.mayorista != null) { %> <%-
    include("../partials/headerMayorista") %> <% } else { %> <%-
    include('../partials/header') %> <% } %>

    <main class="container">
      <img class="imageProfile" src="/img/users/<%= user.image %>" />
      <div class="user-info">
        <% if (userLogged.cf != null) { %>
        <p>Nombre: <%= user.cf.name %></p>
        <p>Apellido: <%= user.cf.lastName %></p>
        <p>email: <%= user.email %></p>
        <% } else if (userLogged.mayorista != null) { %>
        <p>Razón social: <%= user.mayorista.businessName %></p>
        <p>email: <%= user.email %></p>
        <% } else if (userLogged.admin != null) { %>
        <p>Nombre: <%= user.admin.name %></p>
        <p>Apellido: <%= user.admin.lastName %></p>
        <p>email: <%= user.email %></p>
        <% } else if (userLogged.superAdmin != null) { %>
        <p>Nombre: <%= user.superAdmin.name %></p>
        <p>Apellido: <%= user.superAdmin.lastName %></p>
        <p>email: <%= user.email %></p>
        <% } else { %>
        <p>No se encontró información del usuario</p>
        <% } %>
      </div>
    </main>

    <div class="buttons-container">
      <a href="/users/address">
        <button type="submit" class="buttons">Agregar/Editar dirección</button>
      </a>
      <a href="/users/logout">
        <button type="submit" class="buttons">Cerrar sesión</button>
      </a>
    </div>

    <%- include("../partials/footer") %>
  </body>
</html>
