<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {title: 'Inicio de sesión'}) %>

    <link rel="stylesheet" href="/css/userProfile.css" />
  </head>

  <body>
    <% if (userLogged.mayorista != null) { %> <%- include
    ("../partials/headerMayorista") %> <% } else { %> <%-
    include('../partials/header') %> <% } %>
    <main>
      <img class="imageProfile" src="/img/users/<%= user.image %>" />

      <a href="/users/address"
        ><button type="submit" class="buttons">Dirección</button></a
      >
      <a href="/users/logout"
        ><button type="submit" class="buttons">Cerrar sesión</button></a
      >
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
