<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Dirección de usuario'}) %>
    <link rel="stylesheet" href="/css/adress.css" />
  </head>
  <body>
    <%- include('../partials/header') %>

    <main>
      <form action="/users/adress" method="post" class="adressForm">
        <h4 class="adressTitle">Datos de residencia</h4>
        <div class="form-field">
          <div class="data">
            <input
              placeholder="País"
              type="text"
              name="country"
              id="country"
              style="padding-left: 20px"
              value="<%= locals.oldData ? oldData.country : null %>"
              pattern="[\w\s]+"
            />
          </div>
          <div class="error">
            <% if(locals.errors && errors.country) { %>
            <p><%= errors.country.msg %></p>
            <% } %>
          </div>
        </div>
        <div class="form-field">
          <div class="data">
            <input
              placeholder="Provincia"
              type="text"
              name="province"
              id="province"
              style="padding-left: 20px"
              value="<%= locals.oldData ? oldData.province : null %>"
              pattern="[\w\s]+"
            />
          </div>
          <div class="error">
            <% if(locals.errors && errors.province) { %>
            <p><%= errors.province.msg %></p>
            <% } %>
          </div>
        </div>
        <div class="form-field">
          <div class="data">
            <input
              placeholder="Localidad"
              type="text"
              name="neighborhood"
              id="neighborhood"
              style="padding-left: 20px"
              value="<%= locals.oldData ? oldData.neighborhood : null %>"
              pattern="[\w\s]+"
            />
          </div>
          <div class="error">
            <% if(locals.errors && errors.neighborhood) { %>
            <p><%= errors.neighborhood.msg %></p>
            <% } %>
          </div>
        </div>
        <div class="form-field">
          <div class="data">
            <input
              placeholder="Calle"
              type="text"
              name="street"
              id="street"
              style="padding-left: 20px"
              value="<%= locals.oldData ? oldData.street : null %>"
              pattern="[\w\s]+"
            />
          </div>
          <div class="error">
            <% if(locals.errors && errors.street) { %>
            <p><%= errors.street.msg %></p>
            <% } %>
          </div>
        </div>
        <div class="form-field">
          <div class="data">
            <input
              placeholder="Numeración"
              type="number"
              name="number"
              id="number"
              style="padding-left: 20px"
              value="<%= locals.oldData ? oldData.number : null %>"
              onkeypress="return event.charCode >= 0 && event.charCode <= 9999"
            />
          </div>
          <div class="error">
            <% if(locals.errors && errors.number) { %>
            <p><%= errors.number.msg %></p>
            <% } %>
          </div>
        </div>
        <div class="form-field">
          <div class="data">
            <input
              placeholder="Piso - departamento"
              type="number"
              name="apartament"
              id="apartament"
              style="padding-left: 20px"
              value="<%= locals.oldData ? oldData.apartament : null %>"
              onkeypress="return event.charCode >= 0 && event.charCode <= 1000"
            />
          </div>
          <div class="error">
            <% if(locals.errors && errors.apartament) { %>
            <p><%= errors.apartament.msg %></p>
            <% } %>
          </div>
        </div>
        <div class="form-field">
          <div class="data">
            <input
              placeholder="Referencias del domicilio"
              type="text"
              name="note"
              id="note"
              style="padding-left: 20px"
              value="<%= locals.oldData ? oldData.note : null %>"
              pattern="[\w\s]+"
            />
          </div>
          <div class="error">
            <% if(locals.errors && errors.note) { %>
            <p><%= errors.note.msg %></p>
            <% } %>
          </div>
        </div>
        <div class="button-form">
          <button type="submit">Confirmar</button>
        </div>
      </form>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
