<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head", {title: 'Inicio de sesi칩n'}) %>

    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <%- include('../partials/headerCf') %>

    <main class="login">
      <form class="form-login" action="/users/login" method="post">
        <div>
          <h3><i class="fa-solid fa-user" id="userImage"></i></h3>
          <p>
            <label>
              <i class="fa-solid fa-user iconLogin"></i>
              <input
                type="text"
                name="email"
                value=""
                placeholder="correo electr칩nico"
                id="email"
              />
            </label>
          </p>
          <div>
            <% if(locals.errors && errors.email) { %>
            <p><%= errors.email.msg %></p>
            <% } %>
          </div>
          <p>
            <label>
              <i class="fa-solid fa-lock iconLogin"></i>
              <input
                type="password"
                name="password"
                value=""
                placeholder="Contrase침a"
                id="password"
              />
            </label>
          </p>
          <div>
            <% if(locals.errors && errors.password) { %>
            <p><%= errors.password.msg %></p>
            <% } %>
          </div>

          <p>
            <input type="checkbox" name="remember me" id="checkboxLogin" />
            <span id="rememberLogin">recordar</span>
            <a href="forgot-password" id="forgotPass"
              >olvidaste tu contrase침a?</a
            >
          </p>
        </div>
        <p>
          <!--   <input
            type="button"
            name="login"
            value="Ingresar"
            class="buttonLogin"
          />
         -->
          <button type="submit" class="buttonLogin">Ingresar</button>
        </p>
        <p>
          <a href="create account" class="createAccount">Registrarse</a>
        </p>
      </form>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
